<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Jenkins X Tap Report</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <style>
      .main {
          padding-top: 20px;
      }
  </style>
</head>

<body>

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pipelines</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">owner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">repo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">master #123</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">linter</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main role="main" class="main container">

    {{range .Tests}}
        {{range .Errors}}

          <div class="card">
            <div class="card-header">
              <a href="#" title="at {{ .Line }} {{ .Col }}">{{ .File }}</a>
              &nbsp;:&nbsp;
              {{ htmlSafe .HeadingHTML }}
            </div>
            <div class="card-body">
              <pre><code>{{ .Message }}</code></pre>
              <p class="card-text">
              </p>
            </div>
          </div>

        {{else}}

          <div class="card">
            <div class="card-header">
              No Results
            </div>
          </div>

        {{end}}
    {{end}}

</main>

</body>
</html>